<!DOCTYPE html>
<!--ng-app directive tells AngularJS that myApp
    is the root element of the application -->
<html>
  <head>
    <!--import the angularjs libraries-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body ng-app="myApp" ng-controller="OrderFormController">
    <!--hg-template indicates the pages 
            that get loaded as per requirement-->
    <nav class="{{active}}home">
      <a id="navHome" class="home" ng-click="active=''">Home</a>
      <a id="navItems" class="itemshome" ng-click="active='items'">Items</a>
      <a id="navSearch" class="searchhome" ng-click="active='search'">Search</a>
      <a id="navAbout" class="abouthome" ng-click="active='about'">About</a>
      <!-- href="#/second" -->
    </nav>

    <section style="display: block" type="text/ng-template" id="first.html">
      <h1>Welcome To Dog World,<br />This is the Home Page</h1>
      <h3 style="color: green">
        <br />Know About Your Dog <a href="#/fourth">Click Here</a><br />
        <br />Choose Your Dog Breed
        <a href="#/second">Click Here</a>
      </h3>
      <br />
      <h2 style="color: red">
        Contact us : <br />Email: DogWorld@contact.in <br />Mobile: +91
        9956735673/7002345876
      </h2>
    </section>
    <section style="display: none" type="text/ng-template" id="second.html">
      <form style="position: relative">
        <div class="heading">
          <h3>Items</h3>
          <div>
            <button
              class="list-icon"
              ng-class="{active: layout == 'list'}"
              ng-click="layout = 'list'"
            >
              LIST
            </button>
            <button
              class="grid-icon"
              ng-class="{active: layout == 'grid'}"
              ng-click="layout = 'grid'"
            >
              GRID
            </button>
          </div>
        </div>
        <div ng-show="layout == 'grid'" class="grid">
          <ul id="itemul" ng-repeat="service in services">
            <!-- Loop through the services array, assign a click handler, and set or
                    remove the "active" css class if needed -->
            <li
              ng-click="toggleActive(service)"
              ng-class="{active:service.active}"
            >
              <!-- Notice the use of the currency filter, it will format the price -->
              <h4 id="item">{{service.name}}</h4>
              <span>{{service.price | currency}}</span>
            </li>
            <div style="position: relative">
              <button id="editBtn">EDIT</button>
              <input id="input" style="display: none" type="text" />
            </div>
          </ul>
        </div>

        <ul
          ng-show="layout == 'list'"
          class="list"
          id="itemul"
          ng-repeat="service in services"
        >
          <!-- Loop through the services array, assign a click handler, and set or
                      remove the "active" css class if needed -->
          <li
            ng-click="toggleActive(service)"
            ng-class="{active:service.active}"
          >
            <!-- Notice the use of the currency filter, it will format the price -->
            <h4 id="item">{{service.name}}</h4>
            <span>{{service.price | currency}}</span>
          </li>
          <div style="position: relative">
            <button id="editBtn">EDIT</button>
            <input id="input" style="display: none" type="text" />
          </div>
        </ul>

        <div class="total">
          <!-- Calculate the total price of all chosen services. Format it as currency. -->
          Total: <span>{{total() | currency}}</span>
        </div>
      </form>
    </section>
    <section style="display: none" type="text/ng-template" id="third.html">
      <div>
        <div class="bar">
          <input
            type="text"
            ng-model="searchString"
            placeholder="Enter your search terms"
          />
        </div>

        <ul>
          <li ng-repeat="i in items | searchFor:searchString">
            <a href="{{i.url}}"><img ng-src="{{i.image}}" /></a>
            <p>{{i.title}}</p>
          </li>
        </ul>
      </div>
    </section>

    <section style="display: none" type="text/ng-template" id="fourth.html">
      <h1>Know Your Dog Breed</h1>
      <h2></h2>
    </section>

    <div ng-view></div>

    <script src="script.js"></script>
  </body>
</html>
